[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
flask-pymongo = "*"
pymongo = {extras = ["srv"],version = "*"}

[requires]
python_version = "3.8"
