body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row{
    display: flex;
    flex-direction: colrowumn;
    padding: 5ch;
    margin: 2ch;
}

h4{
    text-align: center;
}

img{
    border-radius: 10px;
    margin: 2ch; 
}


